<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="employee" class="com.example.spring.core.c_xmlBased.c_inject_beans.b_setter_based.Employee">
		<property name="sal" ref="salary" />
	</bean>
	<bean id="salary" class="com.example.spring.core.c_xmlBased.c_inject_beans.b_setter_based.Salary"></bean>
</beans>


